@-moz-document domain("habr.com") {
:root {
    --bg-silver-50: #f0f4f9;
    --bg-silver-100: #e6eaf0;
    --bg-silver-200: #dee3e8;
}

/* Ширина разметки */
.layout__cell {
    max-width: 1400px;
}

/* Списки */
.post__text-html ul ul,
.post__text-html ul ol,
.post__text-html ol ul,
.post__text-html ol ol {
    margin-top: 0px;
}

.post__text-html ul li,
.post__text-html ul ul li,
.post__text-html ul ol li,
.post__text-html ol li,
.post__text-html ol ul li,
.post__text-html ol ol li {
    padding: 0;
}

/* Переделать полностью таблицу !!!! */

/* Таблица */

.post__text-html table {
/*     overflow: hidden; */
    border: 2px solid var(--bg-silver-200);
    border-radius: 6px;
    border-collapse: separate;
    border-spacing: 0px 0px;

    margin: 0 auto 0 auto;
    width: auto;
}

.post__text-html table thead {
    background-color: var(--bg-silver-200);
}

.post__text-html table thead th:first-child {
    border-top-left-radius: 5px;
}
.post__text-html table thead th:last-child {
    border-top-right-radius: 5px;
}
.post__text-html table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}
.post__text-html table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}

.post__text-html table td,
.post__text-html table th {
    border: 0px;
    padding: 4px 10px 4px 10px;
    font-size: 0.9em;
}

.post__text-html table tr:nth-child(2n) {
    background-color: var(--bg-silver-50);
}
.post__text-html table tr:hover {
    background-color: var(--bg-silver-200);
}


/* Исходный код */
code, kbd, samp {
    background-color: var(--bg-silver-100);
    padding: 2px 4px 0px 4px;
    border-radius: 2px;
}

.post__text-html pre code {
    padding: 6px 14px 4px 14px;
    background-color: var(--bg-silver-100);
    border-radius: 4px;
    font-size: 0.9em;
}

/* Комментарии */
.comment__reply-form:not(:empty),
.comment__reply-form:not(.hidden) {
    padding-top: 0px;
}
#comment-form {
    padding-top: 17px;
}
.content-list_nested-comments {
    margin-top: 17px;
}

/* Спец блоки на страницах */
.new-block,
.promo-block {
    background-color: var(--bg-silver-100);
    padding: 17px;
    border-radius: 4px;
}
.default-block {
    background-color: var(--bg-silver-50);
}
.promo-item:hover {
    background-color: var(--bg-silver-200);
}
.content-list__item_promo {
    padding: 0px;
    padding-bottom: 17px;
}
.news-topic__title {
    font-size: 16px;
}
.content-list__item_news-topic {
    padding: 9px 0 9px;
}

/* Спец элементы на странице */
.toggle-menu__item-link {
    height: 32px;
}
.author-panel__user-info {
    margin: 24px 24px 24px;
}
.post__tags {
    margin: 0px 0px 6px;
}

/*  Навигация. Меняем символ ^ на emoji
    https://stackoverflow.com/questions/47221792/change-link-text-with-css/47221912#47221912
*/
h1 > a[href="#navigaciya"],
h2 > a[href="#navigaciya"],
h3 > a[href="#navigaciya"],
h4 > a[href="#navigaciya"],
h5 > a[href="#navigaciya"],
h6 > a[href="#navigaciya"] {
    visibility: hidden;
}
h1 > a[href="#navigaciya"]::before,
h2 > a[href="#navigaciya"]::before,
h3 > a[href="#navigaciya"]::before,
h4 > a[href="#navigaciya"]::before,
h5 > a[href="#navigaciya"]::before,
h6 > a[href="#navigaciya"]::before {
    content: '';
    visibility: visible;
    text-decoration: none;
}

h1 > a[href="#navigaciya"]:hover,
h2 > a[href="#navigaciya"]:hover,
h3 > a[href="#navigaciya"]:hover,
h4 > a[href="#navigaciya"]:hover,
h5 > a[href="#navigaciya"]:hover,
h6 > a[href="#navigaciya"]:hover {
    text-decoration: none;
    background-color: blue;
    text-shadow: 1px 1px 2px #df3939;
}
}
